.swiper{
    width:"100vw";
    height:"100vh" !important;
}

.bnr-top{
    background: rgba(255, 255, 255, 0.9) ;
    z-index: 1;
    overflow: hidden;
    position: absolute;
    right: 15%;
    left: 15%;
    top: 27%;
    bottom: 27%;
    margin: auto;
}

.banner .bnr-top{
    display: block;
}


.banner .bnr-top::before{
    bottom: 0px;
    left: 0;
    content: "";
    width: 130px;
    height: 130px;
    background: transparent;
    border-bottom: 5px solid #fe3c47;
    border-left: 5px solid #fe3c47;
    position: absolute;
    z-index: -1;
}

.banner .bnr-top::after{
    top: 0;
    right: 0;
    content: "";
    width: 130px;
    height: 130px;
    background: transparent;
    border-top: 5px solid #fe3c47;
    border-right: 5px solid #fe3c47;
    position: absolute;
    z-index: -1;
}

.bnr-top h2{
    letter-spacing: .15em;
    position: relative;
    overflow: hidden;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 700;
    margin: 1.3rem 0 0;
    color: #1a1a1a;
    text-transform: uppercase;
}

.bnr-top h3{
    font-family: "Source Sans Pro";
    line-height: 1.4rem;
    letter-spacing: .5em;
    font-weight: normal;
    font-style: 400;
    color: #4d4d4d;
    font-size: 1.4rem;
}

/* Banner2 */
.banner2{
    position: relative;
}
.bnr2{
    background-color: #df2443cb ;
    color: white;
    z-index: 1;
    overflow: hidden;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.banner2 .bnr2{
    display: block;
}

/* Media query */

@media only screen and (max-width: 575.98px){
    .bnr-top{
        top:10%;
        left:5%;
        bottom:5%;
        right:5%
    }
    .bnr-top h2{
    font-size: 1.3rem;
    line-height: 1.4rem;
    }
    .bnr-top h3{
    font-size: 1.2rem;
    line-height: 1.2rem;
    letter-spacing: .3em;
    }
}
@media only screen and (min-width: 575.98px) and (max-width:767.98px){
    .bnr-top{
        top:10%;
        left:10%;
        bottom:10%;
        right:10%
    }
    .bnr-top h2{
    font-size: 2rem;
    line-height: 2rem;
    }
    .bnr-top h3{
    font-size: 1.2rem;
    line-height: 1.2rem;
    letter-spacing: .3em;
    }
}